@model PagedResult<Employee>
@{
    ViewData["Title"] = "Employees";
    var summaries = (Dictionary<int, AttendanceSummary>)ViewBag.Summaries;

}

<h2>Employees</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Department</th>
            <th>Presents</th>
            <th>Absents</th>
            <th>%</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emp in Model.Items)
        {
            <tr>
                <td>@emp.FullName</td>
                <td>@emp.Email</td>
                <td>@emp.Department.Name</td>
                <td>@summaries[emp.Id].Presents</td>
                <td>@summaries[emp.Id].Absents</td>
                <td>@summaries[emp.Id].AttendancePercentage %</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@emp.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@emp.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination">
            @for (int i = 1; i <= (int)Model.TotalPages; i++)
            {
                <li class="page-item @(i == ViewBag.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
